/*Logo font*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

.dark-text {
    color: #001414;
}

.logo-color {
    color: #984152
}

.wrap {
    max-width: 960px;
    margin: 0 auto;
    font-family: Roboto, sans-serif;
}

/* Header */
.header {
    background-color: #e4e4e2;
    height: 75px;
}

#logo {
    font-family: Pacifico, sans-serif;
    float: left;
    font-size: 120%;
    margin: 4px 0 10px 10px;
}

/* Navigation links */

#menu,
.header {
    clear: both;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-left: 20px;
}

#menu a {
    text-decoration: none;
    padding: 2px 5px;
    border-radius: 3px;
}

.active {
    background: #984152;
    color: white;
}

/* Change schedule button */
.change-schedule {
    float: right;
    margin-right: 20px;
}

/* Hero image */

#hero-image {
    height: 650px;
    width: 100%;
    background: url('../images/hero_image.jpg') no-repeat center center;
    background-size: cover;
}

/* Footer */

.footer {
    height: 150px;
}

.social-media-links {
    list-style-type: none;
    float: left;
}

/* Media queries*/

/* For screen ratios up to 1:1 */

@media screen and (orientation: landscape) {
    #hero-image {
        height: 650px;
        width: 100%;
        background: url('../images/hero_image_2.jpg') no-repeat center top;
        background-size: cover;
    }
}