/*Logo font*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 1366px;
    margin: 0 auto;
    font-family: Roboto, sans-serif;
}

.dark-text {
    color: #001414;
}

.logo-color {
    color: #984152
}

/* Header */
header {
    background-color: #e4e4e2;
    height: 75px;
}

#logo {
    font-family: Pacifico, sans-serif;
    float: left;
    font-size: 120%;
    margin: 4px 0 10px 10px;
}

/* Navigation links */

#menu,
header {
    clear: both;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-left: 20px;
}

#menu a {
    text-decoration: none;
    padding: 2px 5px;
}

.active {
    background: #984152;
    color: white;
    border-radius: 3px;
}

/* Change schedule button */
.change-schedule {
    float: right;
    margin-right: 20px;
}

.button {
    background: #984152;
    color: white;
    border-radius: 3px;
}

/* Hero image and logo*/

#hero-outer {
    /*height: 600px;
    width: 100%;*/
    position: relative;
    background: url('../images/hero_image.jpg') no-repeat center center fixed;
    flex-grow: 1;
    background-position-x: 70%;
    background-position-y: 25%;
    background-size: 100%;
}

/* #hero-image {
    height: 650px;
    width: 100%;
    background-size: cover;
} */

#cover-logo {
    width: 300px;
    height: 200px;
    /* background-color: rgba(224, 184, 192, 0.7); */
    left: 5%;
    top: 50px;
    position: absolute;
}

#main-logo {
    font-family: Pacifico;
    font-size: 600%;
    height: 130px;
}

#sub-logo-1 {
    font-size: 300%;
    padding-left: 70px;
}

#sub-logo-2 {
    font-size: 300%;
    padding-left: 115px;
}

/* Cover text */

#cover-text {
    width: 300px;
    height: 150px;
    background-color: rgba(224, 184, 192, 0.8);
    left: 5%;
    bottom: 75px;
    padding: 25px;
    position: absolute;
}

#cover-text>h2 {
    font-size: 150%;
    margin-bottom: 15px;
    line-height: 1.5;
}

#whats-up {
    width: 230px;
    height: 110px;
    background-color: rgba(224, 184, 192, 0.8);
    right: 2%;
    bottom: 50px;
    padding: 25px;
    position: absolute;
}

#whats-up>h2 {
    font-size: 150%;
    margin-bottom: 10px;
}

#whats-up>h3 {
    /* font-size: 100%; */
    margin-bottom: 5px;
}

#whats-up>button {
    padding: 6px;
    margin: 0 auto;
    display: block;
}

/* Footer */

footer {
    height: 75px;
}

.social-media-links {
    list-style-type: none;
    float: left;
}

/* Media queries*/

/* For screen ratios up to 1:1 */

/*@media screen and () {
    #hero-image {
        height: 650px;
        width: 100%;
        background: url('../images/hero_image_2.jpg') no-repeat center top;
        background-size: cover;
    }
}*/

/* For screen height max 750px */

@media screen and (max-height: 750px) and (min-width: 845px) {
    #cover-text {
        width: 300px;
        height: 150px;
        background-color: rgba(224, 184, 192, 0.8);
        left: 5%;
        top: 370px;
        padding: 25px;
        position: absolute;
    }

    body {
        min-height: 100vh;
        display: block;
        /*flex-direction: column;*/
        max-width: 1366px;
        margin: 0 auto;
        font-family: Roboto, sans-serif;
    }

    #hero-outer {
        height: 600px;
        width: 100%;
        position: relative;
        background: url('../images/hero_image.jpg') no-repeat center center;
        /*flex-grow: 1;*/
        background-position-x: 70%;
        background-position-y: 25%;
        background-size: 100%;
    }
}

/* For screen width < 845px */

@media screen and (min-height: 640px) and (max-width: 845px) {
    #cover-logo {
        width: 300px;
        height: 200px;
        left: 5%;
        top: 50px;
        position: absolute;
    }

    #main-logo {
        font-family: Pacifico;
        font-size: 400%;
        height: 87px;
    }

    #sub-logo-1 {
        font-size: 185%;
        padding-left: 45px;
    }

    #sub-logo-2 {
        font-size: 185%;
        padding-left: 65px;
    }

    #cover-text {
        width: 200px;
        height: 110px;
        background-color: rgba(224, 184, 192, 0.8);
        left: 3%;
        top: 322px;
        padding: 12px;
        position: absolute;
    }

    #cover-text>h2 {
        font-size: 100%;
        margin-bottom: 15px;
        line-height: 1.5;
    }

    #whats-up {
        width: 175px;
        height: 100px;
        background-color: rgba(224, 184, 192, 0.8);
        right: 5%;
        top: 355px;
        padding: 12px;
        position: absolute;
    }

    #whats-up>h2 {
        font-size: 95%;
        margin-bottom: 10px;
    }

    #whats-up>h3 {
        font-size: 85%;
        margin-bottom: 5px;
    }

    #whats-up>button {
        padding: 6px;
        margin: 0 auto;
        display: block;
    }
}

/* For screen width < 845px and height < 640px*/ 

@media screen and (max-height: 640px) and (max-width: 845px) {
    #hero-outer {
        height: 528px;
        width: 100%;
        position: relative;
        background: url(../images/hero_image_2.jpg) no-repeat;
        /* flex-grow: 1; */
        background-position-x: 6%;
        background-position-y: 50%;
        background-size: 117%;
    }

    #cover-logo {
        width: 300px;
        height: 200px;
        left: 5%;
        top: 50px;
        position: absolute;
    }

    #main-logo {
        font-family: Pacifico;
        font-size: 400%;
        height: 87px;
    }

    #sub-logo-1 {
        font-size: 185%;
        padding-left: 45px;
    }

    #sub-logo-2 {
        font-size: 185%;
        padding-left: 65px;
    }

    #cover-text {
        width: 200px;
        height: 110px;
        background-color: rgba(224, 184, 192, 0.8);
        left: 3%;
        top: 322px;
        padding: 12px;
        position: absolute;
    }

    #cover-text>h2 {
        font-size: 100%;
        margin-bottom: 15px;
        line-height: 1.5;
    }

    #whats-up {
        width: 175px;
        height: 100px;
        background-color: rgba(224, 184, 192, 0.8);
        right: 5%;
        top: 355px;
        padding: 12px;
        position: absolute;
    }

    #whats-up>h2 {
        font-size: 95%;
        margin-bottom: 10px;
    }

    #whats-up>h3 {
        font-size: 85%;
        margin-bottom: 5px;
    }

    #whats-up>button {
        padding: 6px;
        margin: 0 auto;
        display: block;
    }
}